{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Closum Connector plugin for Craft CMS
 *
 * Configurations Utility Content
 *
 * @author    popperz0r
 * @copyright Copyright (c) 2019 popperz0r
 * @link      https://twitter.com/popperz0r
 * @package   ClosumConnector
 * @since     1.0.0
 */
#}

<h1>Configurations</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@closum/closumconnector/assetbundles/configurationsutility/dist', true) ~ '/img/Configurations-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>